p{
    font-size: 18px;
    margin: 16px;
    color: #696969;
}

div{
    margin: 16px;
}

ion-item{
    font-size: 18px;
    margin-left: 0px;
    margin-top: 16px;
    color: #696969;
    --border-color: #FBD9B6;
}

