<ion-header>
    <ion-toolbar color={{habit.color}}>
      <ion-title>{{habit.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="del(habit.id)"><ion-icon name="trash-outline" color="dark" style="zoom:1.6"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-item *ngIf = "ifDesc">Opis: {{habit.description}}</ion-item>
    <ion-item *ngIf = "ifGoal">Udało się zrealizować cel - {{habit.goal}}!</ion-item>
  <ion-content>
    <div>
      <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-button class="arrow" fill="clear" (click)="back()">
            <ion-icon color="medium" name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col  size="8" class="ion-text-center">
          <h4>{{ viewTitle }}</h4>
        </ion-col>

        <ion-col  size="2">
          <ion-button class="arrow" fill="clear" (click)="next()">
            <ion-icon color="medium" name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
      <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [locale]="calendar.locale"
      [formatDayHeader]="calendar.formatDayHeader"
      [formatMonthTitle]="calendar.formatMonthTitle"
      [startingDayMonth]="calendar.startingDayMonth"
      (onTitleChanged)="onViewTitleChanged($event)">
      
      </calendar>
    </div>
    <p>przypomnienia:</p>
  </ion-content>   
      
 