<ion-header>
    <ion-toolbar color={{habit.color}}>
      <ion-title>{{habit.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="del(habit.id)"><ion-icon name="trash-outline" style="zoom:1.6"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item class={{habit.color}} *ngIf = "ifDesc">opis: {{habit.description}}</ion-item>
    <ion-item class={{habit.color}} *ngIf = "ifGoal">cel: przez co najmniej {{habit.goal}} dni uda mi się trzymać nawyku!</ion-item>
    <div class="calendar">
      <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-button class="arrow" fill="clear" (click)="back()">
            <ion-icon color="medium" name="arrow-back" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="8">
          <div class="ion-text-center">
            <ion-text color="medium">{{ viewTitle }}</ion-text>
          </div>
        </ion-col>

        <ion-col  size="2">
          <ion-button class="arrow" fill="clear" (click)="next()">
            <ion-icon color="medium" name="arrow-forward" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
      <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      [locale]="calendar.locale"
      [formatDayHeader]="calendar.formatDayHeader"
      [formatMonthTitle]="calendar.formatMonthTitle"
      [startingDayMonth]="calendar.startingDayMonth"
      [autoSelect]="calendar.autoSelect"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      [markDisabled]="markDisabled"
      [showEventDetail]="calendar.showEventDetail"
      [monthviewDisplayEventTemplate]="template">
      </calendar>
    </div>
    <p class="reminders">przypomnienia:</p>
  </ion-content>   

  <ng-template #template let-view="view" let-row="row" let-col="col">
    <div *ngIf="view.dates[row*7+col].events.length; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class={{getEventClass(view.dates[row*7+col].events)}}>
        {{view.dates[row*7+col].label}}
      </div>
    </ng-template>
    <ng-template #elseBlock><div>{{view.dates[row*7+col].label}}</div></ng-template>
  </ng-template>
  
      