.reminders{
    font-size: 18px;
    margin: 16px;
}

.calendar{
    margin: 16px;
}

.primary{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #CFA4BF;
}

.secondary{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #ECB2C0;
}

.tertiary{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #FBD9B6;
}

.success{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #BFE1EA;
}

.warning{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #FCF1B9;
}

ion-col{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

ion-text{
    font-size: 26px;
}

h4{
    margin: 0px;
    padding: 0px;
}

.arrow{
    margin: 0px;
}

p{
    margin: 0%;
    padding: 0%;
}

.ion-text-center{
    height: 36px;
    margin: 0px;
}


