<ion-header>
  <ion-toolbar color={{habit.color}}>
    <ion-title>{{habit.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="restore()"><ion-icon name="reload-outline" style="zoom:1.6"></ion-icon></ion-button>
      <ion-button (click)="del(habit.id)"><ion-icon name="trash-outline" style="zoom:1.6"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class={{habit.color}} *ngIf = "ifDesc">opis: {{habit.description}}</ion-item>
  <ion-item class={{habit.color}} *ngIf = "ifGoal">cel: przez co najmniej {{habit.goal}} dni uda mi się trzymać nawyku!</ion-item>
</ion-content>