

div{
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.right{
    text-align: right;
}

canvas{
    margin-top: 10px;
    margin-bottom: 10px;
}

.primary{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #CFA4BF;
}

.secondary{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #ECB2C0;
}

.tertiary{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #FBD9B6;
}

.success{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #BFE1EA;
}

.warning{
    font-size: 18px;
    margin-top: 6px;
    margin-left: 0px;
    padding: 0px;
    --border-color: #FCF1B9;
}

ion-col{
    padding: 0px;
    margin: 0px;
}

h4{
    margin: 0px;
    padding: 0px;
}

.arrow{
    margin: 0px;
}

.ion-card-header{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.ion-card-title{
    margin-bottom: 0px;
}

.text{
    margin: 16px;
    font-size: 16px;
    text-align: center;
}
