<ion-header>
  <ion-toolbar color={{habit.color}}>
    <ion-title>{{habit.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="restore()"><ion-icon name="reload-outline" style="zoom:1.6"></ion-icon></ion-button>
      <ion-button (click)="del(habit.id)"><ion-icon name="trash-outline" style="zoom:1.6"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item class={{habit.color}} *ngIf = "ifDesc">opis: {{habit.description}}</ion-item>
  <div>
    <p class="p-f-d">udało ci się trzymać postanowienia przez </p>
    <p class="bold">{{message1}}</p>
    <canvas #doughnutCanvas></canvas>
  </div>
  <ion-card *ngIf = "ifGoal"> 
    <ion-card-header>
      <ion-row>
        <ion-col>      
          <ion-card-subtitle>cel:</ion-card-subtitle>
          <ion-card-title>{{goal}}</ion-card-title>
        </ion-col>
        <ion-col class="right">
          <ion-icon name="trophy" color={{iconColor}} style="zoom:3.0">
          </ion-icon>
         </ion-col>
        </ion-row>
    </ion-card-header>
    <p class="p-f-d">{{message2}}</p>
  </ion-card>
  <ion-card color={{habit.color}}>
    <ion-card-header>
      <ion-row>    
          <ion-card-subtitle>świetnie, że</ion-card-subtitle>
          <ion-card-title>pracujesz nad swoimi przyzwyczajeniami!</ion-card-title>
      </ion-row>
    </ion-card-header>
    <p class="text">możesz nadal monitorować ten nawyk, przywracając go lub utworzyć nowy</p>
  </ion-card>
</ion-content>

