<ion-header>
  <ion-toolbar color="medium">
    <ion-title>profil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col center>
        <div class="ion-text-center">
          <ion-text color="primary"><h3>hej, {{user.displayName}}</h3></ion-text>

          <ion-list>
            <ion-item-group>
              <ion-item-divider color="tertiary">
                <ion-label>ukończone</ion-label>
              </ion-item-divider>
              <ion-item *ngFor="let item of items" text-center>
                <ion-label>nawyki: {{item.habitCounter}}</ion-label>
              </ion-item>
              <ion-item *ngFor="let item of items" text-center>
                <ion-label class="smallerFont">w tym osiągnięte cele: {{item.goalCounter}}</ion-label>
              </ion-item>
              <ion-item *ngFor="let item of items" text-center>
                <ion-label>zadania: {{item.taskCounter}}</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-list>
         
          <ion-button color="primary" expand="block" (click)="signOut()">wyloguj</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
