ion-spinner {
    margin-left: 16px;
    margin-top: 16px;
  }
  
  ion-card{
    padding: 16px;
    border-radius: 15px 15px 15px 15px;
  }
  
  ion-item{
    border-radius: 15px 15px 15px 15px;
    opacity: 0.85;
  }
  
p{
    font-size: 15px;
  }
  
  .desc{
    font-size: 18px;
    color: #696969;
  }