<ion-header>
  <ion-toolbar color="medium">
    <ion-title>na później</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button><ion-icon name="add" color="light" style="zoom:2.0"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: left">
        <ion-button [routerLink]="['/listy']" color="success">
            <ion-icon name="alert"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center">
        <ion-button [routerLink]="['/napozniej']" color="success">
          <ion-icon name="time-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-button [routerLink]="['/wykonane']" color="success">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
