<ion-header>
  <ion-toolbar color="medium">
    <ion-title>na później ({{items.length}})</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="add()"><ion-icon name="add" color="light" style="zoom:2.0"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-spinner *ngIf = "loading" color="success"></ion-spinner>

    <ion-item-sliding *ngFor="let item of items, let i=index">
      <ion-item><ion-label>{{item.text}}</ion-label></ion-item>

      <ion-item-options side="start">
        <ion-item-option color="secondary" (click)="changePos(i, -1)">
          <ion-icon name="chevron-up-outline" style="zoom:1.5"></ion-icon>
          </ion-item-option>
          <ion-item-option color="secondary" (click)="changePos(i, 1)">
            <ion-icon name="chevron-down-outline" style="zoom:1.5"></ion-icon>
            </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="success" (click)="completeTask(item)">
          <ion-icon name="checkmark" style="zoom:1.5"></ion-icon>
        </ion-item-option>
        <ion-item-option color="warning" (click)="moveUrgent(item)">
          <ion-icon name="time-outline" style="zoom:1.5"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary" (click)="deleteTask(item)">
          <ion-icon name="close" style="zoom:1.5"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: left">
        <ion-button [routerLink]="['/listy']" color="success">
            <ion-icon name="alert"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: center">
        <ion-button [routerLink]="['/napozniej']" color="success">
          <ion-icon name="time-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col style="text-align: right">
        <ion-button [routerLink]="['/wykonane']" color="success">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </ion-toolbar>
</ion-footer>
