<ion-header>
  <ion-toolbar>
    <ion-title>Terms of Service</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='clsContent'>
  <p>
    Prosimy o uważne przeczytanie niniejszych warunków świadczenia usług („warunki”, „warunki świadczenia usług”) przed skorzystaniem ze strony internetowej „habit tracker.com” („usługa”) obsługiwanej przez h habit tracker („nas”, „my”, „nasz”).
  </p>

  <h3>Conditions of Use</h3>
  <section>
    Świadczymy Ci swoje usługi, które podlegają warunkom określonym poniżej w tym dokumencie. Za każdym razem, gdy odwiedzasz tę witrynę internetową, korzystasz z jej usług lub dokonujesz zakupu, akceptujesz następujące warunki. Dlatego zachęcamy do uważnego przeczytania.
  </section>

  <h3>Polityka prywatności</h3>
  <section>
    Przed dalszym korzystaniem z naszej witryny zalecamy zapoznanie się z naszą <a href="http://localhost:4200/privacy"> polityką prywatności </a> dotyczącą gromadzenia danych użytkowników. Pomoże Ci to lepiej zrozumieć nasze praktyki.
  </section>

  <h3>Prawo autorskie</h3>
  <section>
    Treści publikowane na tej stronie (cyfrowe pliki do pobrania, obrazy, teksty, grafiki, logo) jest własnością narzędzia do śledzenia nawyków i / lub twórców jego treści i jest chronione międzynarodowym prawem autorskim. <br/>
    Cała kompilacja treści znalezionych na tej stronie jest wyłączną własnością narzędzia do śledzenia nawyków, z autorstwem praw autorskich do tej kompilacji przez narzędzie do śledzenia nawyków.
  </section>

  <h3>Komunikacja</h3>
  <section>
    Cała komunikacja odbywa się drogą elektroniczną. Za każdym razem, gdy wyślesz nam wiadomość e-mail lub odwiedzisz naszą stronę internetową, jest możliwość wysłananie do nasz wiadomości, co oznacza, że qyrażasz zgodę na otrzymywanie od nas wiadomości. Jeśli zasubskrybujesz wiadomości na naszej stronie, będziesz mógł regularnie otrzymywać od nas wiadomości e-mail. Komunikować się z Tobą będziemy za pomocą publikowanych wiadomości oraz powiadomień na naszej stronie internetowej lub wysyłając Ci wiadomości e-mail. Zgadzasz się również, że wszystkie powiadomienia, ujawnienia, umowy i inne komunikaty, które będziemy Ci przekazywać drogą elektroniczną, są zgodne z prawem wymagania, aby taka komunikacja była na piśmie.
  </section>

  <h3>Obowiązujące prawo</h3>
  <section>
    Odwiedzając tę ​​stronę, zgadzasz się, że polskie prawo, bez względu na zasady prawa kolizyjnego będzie regulować niniejsze warunki świadczenia usług lub wszelkie spory tego rodzaju mogą znaleźć się między twórcą aplikacji a tobą lub jej partnerami biznesowymi i współpracownikami.
  </section>

  <h3>Spory i skargi</h3>
  <section>
    Wszelkie spory związane w jakikolwiek sposób z Twoją wizytą na tej stronie lub zakupionymi od nas produktami podlega arbitrażowi prowadzonemu przez sąd okręgowy lub wojewódzki w Polsce, a użytkownik wyraża zgodę na wyłączną jurysdykcję i właściwość terytorialną takich sądów.
  </section>

  <h3>Komentarze, recenzje i e-maile</h3>
  <section>
    Odwiedzający mogą publikować treści, o ile nie są nieprzyzwoite, niezgodne z prawem, zniesławiające, zawierające groźby lub naruszające prawa. Szablon warunków świadczenia przez WebsitePolicies.com praw własności intelektualnej, naruszających prywatność lub w jakikolwiek inny sposób szkodliwych dla osób trzecich. Treść musi być wolna od wirusów oprogramowania, kampanii politycznej i reklam komercyjnych. Zastrzegamy sobie wszelkie prawa (ale nie obowiązek) do usuwania i / lub edytowania takich treści. Publikując swoje treści, udzielasz firmie habittracker.com niewyłącznego, wolnego od opłat i nieodwołalnego prawa do używania, powielania, publikowania i modyfikowania takich treści na całym świecie w dowolnych mediach.
  </section>

  <h3>Licencja i dostęp do witryny</h3>
  <section>
    Udzielamy ograniczonej licencji na dostęp i osobiste korzystanie z witryny. Nie możesz jej pobierać ani modyfikować. Można tego dokonać tylko za pisemną zgodą twórców.
  </section>

  <h3>Konto użytkownika</h3>
  <section>
    Jeśli jesteś właścicielem konta w tej aplikacji, to ponosisz wyłączną odpowiedzialność za zachowanie poufności swoich prywatnych danych użytkownika (nazwa użytkownika i hasło). Jesteś odpowiedzialny za wszystkie czynności wykonywane na Twoim koncie lub haśle. <br/>
    Zastrzegamy sobie wszelkie prawa do zamykania kont, edytowania lub usuwania treści.
  </section>
</ion-content>
