<ion-header>
  <ion-toolbar color="medium">
    <ion-title>trwające ({{items.length}})</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openModal()"><ion-icon name="add" color="light" style="zoom:2.0"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-spinner *ngIf = "loading" color="success"></ion-spinner>
  
  <ion-card *ngFor="let item of items" color={{item.color}}>
    <ion-item (click)="onSelect(item.id, item)" detail="true" lines="none">
      <ion-label>{{item.name}}</ion-label>   
    </ion-item>
  
    <ion-card-content>
        <p>{{item.description}}</p>
        <p>{{item.daysLeft}} dni do końca</p>
    </ion-card-content>

        <ion-icon class="progress-icon" src={{iconSrc}}></ion-icon>

  </ion-card>

</ion-content>
