<ion-header>
  <ion-toolbar color="medium">
    <ion-title>trwające</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="add()"><ion-icon name="add" color="light" style="zoom:2.0"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-spinner *ngIf = "loading" color="success"></ion-spinner>
    <ion-item *ngFor="let item of items"><ion-label>{{item}}</ion-label></ion-item>
  </ion-list>

</ion-content>
